body {
    background: green;
    color: white;
    margin: 20px;
  }
  
  input {
    color: black;
  }

  *{
      text-align: center;
      padding-top: 2px;
      margin-top: 70px;
      
      

  }
  h1 {
      color: rgb(7, 7, 7);
  }

  